.home-container {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  width: 100vw; /* Make it span the full viewport width */
  height: 100vh; /* Make it span the full viewport height */
}

.content-wrapper {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a translucent background to improve text readability */
  padding: 20px;
  text-align: center;
}

.title, .subtitle {
  color: white; /* Ensure text is readable on the background */
}

.browse-button {
  transition: background-color 0.3s;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f04e30; /* Your theme color */
  padding: 10px 20px;
  color: white;
  font-size: 16px;
}

.browse-button:hover {
  background-color: #d43c20; /* Darker hover effect */
}

@media (max-width: 768px) {
  .content-wrapper {
    padding: 10px;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 16px;
  }
}
